<!DOCTYPE html>
<html>
<head>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- END CSS -->

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js"></script>
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <!-- END JS -->
</head>
<body>
<!-- Logged User -->
<div data-bind="visible: showLoggedMenu">
    <button data-bind="click: form.logout">Logout</button><br>
</div>

<!-- Not Logged User -->
<div data-bind="visible: showNotLoggedMenu">
    <input data-bind="value: form.email" type="text" placeholder="Email">
    <input data-bind="value: form.password" type="password" placeholder="Password"><br>
    <input data-bind="value: form.name" type="text" placeholder="Nome">

    <button data-bind="click: form.login">Login</button><br>
    <button data-bind="click: form.register">Register</button><br>
</div>

<input data-bind="value: form.inputtext" type="text" placeholder="Texto">
<button data-bind="click: form.translate">Get Pig Latin!</button><br>

<table class="responstable" data-bind="visible: showHistory">
    <thead>
    <tr>
        <th style="text-align: center">Text</th>
        <th style="text-align: center">Pig Latin Text</th></tr>
    </thead>
    <tbody data-bind="foreach: translations">
    <tr>
        <td data-bind="text: text"></td>
        <td data-bind="text: translated"></td>
    </tr>
    </tbody>
</table>
<button data-bind="click: form.getTranslationsHistory">Get History</button><br>


</body>
</html>