<html>
<head>
<title>Session Management in NodeJS using Express4.2</title>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- END CSS -->

	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js"></script>
	<script type="text/javascript" src="js/global.js"></script>
	<script type="text/javascript" src="js/home.js"></script>
	<!-- END JS -->



</head>
<body>
	<div class="alerts">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">

				<div class="alert alert-success hiddenDiv text-center">
					<strong id="successText"></strong>
				</div>

				<div class="alert alert-info hiddenDiv text-center">
					<strong id="infoText"></strong>
				</div>

				<div class="alert alert-warning hiddenDiv text-center">
					<strong id="warningText"></strong>
				</div>

				<div class="alert alert-danger hiddenDiv text-center">
					<strong id="errorText"></strong>
				</div>
			</div>
		</div>
	</div>
	<div class="container" style="margin-top: 50px;">

		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Pig Latin Translator V.1.0.1</h1>
				<h2 style="color: rgba(0, 0, 0, 0.19);">Session Based</h2>
			</div>
		</div>
		<div class="row" style="margin-bottom: 50px;">
			<div class="col-md-3 col-md-offset-9 text-center">
				<h4 data-bind="if: userName">Welcome, <span data-bind="text: userName"></span></h4>
				<form action="/myAccount" data-bind="visible: showLoggedMenu">
					<button type="button" class="btn btn-warning btn-sm" data-bind="visible: showLoggedMenu, click: form.logout">Logout</button>
					<input class="btn btn-info btn-sm" type="submit" value="My Account" />
				</form>
			</div>
		</div>
		<!-- Trigger the modal with a button -->
		<div class="row">
			<div class="col-md-12">
				<button type="button" class="btn btn-info btn-lg" data-bind="visible: showNotLoggedMenu, click: showLogin">Open Login</button>
				<button type="button" class="btn btn-info btn-lg" data-bind="visible: showNotLoggedMenu, click: showRegister">New Account</button>
			</div>
		</div>

		<div class="row">
			<div class="col-md-5">
				<textarea id="inputText" class="form-control" rows="5" data-bind="value: form.inputtext"></textarea>
			</div>
			<div class="col-md-2">
				<button id="translateBtn" type="button" class="btn btn-primary translateBtns" data-bind="click: form.translate">Translate This!</button>
				<button type="button" class="btn btn-warning translateBtns" data-bind="click: form.clearTrasnlation">Clear</button>
			</div>
			<div class="col-md-5">
				<textarea id="pigLatinText" class="form-control" rows="5" data-bind="value: form.pigLatinText"></textarea>
			</div>
		</div>

		<div class="row" style="margin-top: 50px;">
			<!--<div class="col-md-4">
				<button type="button" class="btn btn-info btn-lg" data-bind="click: form.getTranslationsHistory">Get Pig Latin Histoty!</button>
			</div>-->
			<div class="col-md-12">
				<h1 class="text-center">Pig Latin Translations History</h1>
				<table class="table table-striped">
					<thead>
					<tr>
						<th style="text-align: center">Original Text</th>
						<th style="text-align: center">Pig Latin Text</th></tr>
					</thead>
					<tbody data-bind="foreach: translations">
						<tr class="text-center">
							<td data-bind="text: text"></td>
							<td data-bind="text: translated"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-md-offset-1">
			</div>
			<div class="col-md-5">
			</div>
			<div class="col-md-1">
			</div>
		</div>



		<div class="col-md-6 col-md-offset-5">

		</div>


		<div class="col-md-6 col-md-offset-5">

		</div>



		<!-- Modal New Account-->
		<div class="modal fade" id="register" tabindex="-1" role="dialog"
			 aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">New Account</h4>
					</div>

					<!-- Modal Body -->
					<div class="modal-body">

						<form class="form-horizontal" role="form">

							<div class="form-group">
								<label class="col-sm-2 control-label">Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="Name" data-bind="value: form.name"/>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">Email</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" placeholder="Email" data-bind="value: form.email"/>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label" >Password</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" placeholder="Password" data-bind="value: form.password"/>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label" >Confirmation</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" placeholder="Repeat Password" data-bind="value: form.passwordConf"/>
								</div>
							</div>

						</form>
					</div>

					<!-- Modal Footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" data-bind="click: form.register">Submit</button>
					</div>
				</div>
			</div>
		</div>



		<!-- Modal Login -->
		<div class="modal fade" id="login" tabindex="-1" role="dialog"
			 aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title">Login</h4>
					</div>

					<!-- Modal Body -->
					<div class="modal-body">

						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label  class="col-sm-2 control-label">Email</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" placeholder="Email" data-bind="value: form.email"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" >Password</label>
								<div class="col-sm-10">
									<input id="password" type="password" class="form-control" placeholder="Password" data-bind="value: form.password"/>
								</div>
							</div>
							<a data-bind="click: form.recoverPassword" style="cursor:pointer;">Forgot Password?</a>
							<!--<div class="form-group">-->
								<!--<div class="col-sm-offset-2 col-sm-10">-->
									<!--<div class="checkbox">-->
										<!--<label><input type="checkbox"/> Remember me</label>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->
						</form>
					</div>

					<!-- Modal Footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button id="loginBtn" type="button" class="btn btn-primary" data-bind="click: form.login">Login</button>
					</div>
				</div>
			</div>
		</div>


	</div>
</body>
</html>
