@CHARSET "UTF-8";

.hiddenDiv {
    display: none;
}

.myAlert {
    z-index: 100000 !important;
    position: absolute;
    width: 80%;
}

.alerts {
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    z-index: 10000000;
}

.translateBtns {
    width: 100%;
}


